*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#ebd6e8;
    padding:20px;
}

.container{
    background:#e9f1f0;
    max-width:1100px;
    margin:auto;
    padding: 30px;
    overflow: hidden;
}

/* HEADER */
header{

    color:rgb(19, 7, 7);
    padding:20px;
    text-align:center;
    border-radius:8px;
    margin-bottom:20px;
}

/* ACTION BAR */
.action-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.stats-cards{
    display:flex;
    gap:15px;
}

.card{
    background:white;
    padding:15px 20px;
    border-radius:6px;
    border:1px solid #ddd;
}

.card h3{
    font-size:14px;
    margin-bottom:5px;
}

.card p{
    font-size:22px;
    font-weight:bold;
    color:#2e3646;
}

/* BUTTON */
.btn{
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
}

.btn-primary{
    background:#4262a1;
    color:white;
}

.btn-warning{
    background:rgb(19, 141, 162);
    color:white;
}

.btn-danger{
    background:rgba(196, 11, 11, 0.818);
    color:white;
}

.btn-secondary{
    background:#ccc;
}

.btn-success{
    background:green;
    color:white;
}

/* TABLE */
.table-responsive{
    background:white;
    border-radius:8px;
    overflow:hidden;
}

.data-table{
    width:100%;
    border-collapse:collapse;
}

.data-table th,
.data-table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:left;
}

.data-table th{
    background:#f0f0f0;
}

/* MODAL */
.modal-overlay{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.5);

    display:flex;
    justify-content:center;
    align-items:center;
}

.modal-box{
    width:400px;
    background:white;
    border-radius:8px;
    padding:20px;
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.btn-close{
    border:none;
    background:none;
    font-size:25px;
    cursor:pointer;
}

/* FORM */
.form-group{
    margin-bottom:15px;
}

.form-group label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

.form-group input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

.modal-footer{
    display:flex;
    justify-content:flex-end;
    gap:10px;
    margin-top:20px;
}

.required{
    color:red;
}

.error-msg{
    color:red;
    font-size:12px;
}

.hidden{
    display:none;
}